/*app bar style sheet */
.appbar {
    height: 100px;
    width: 100%;
    position: absolute;
    background-color: #99E1D9;
}

.appbar-container {
    height: 100%;
    padding: 0 100px;
    justify-content: end;
}

.appbar-options {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    align-content: end;
    opacity: 0.7;
    transition: opacity .2s ease-out;
}

.appbar-options:hover {
    opacity: 1;
}

.appbar-options--active {
    opacity: 1;
}

.tab {
    height: .25rem;
    justify-self: center;
    width: 40%;
    background-color: #70ABAF;
    border-radius: 33px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-out,
        opacity 0.25s ease-out;
    opacity: 0;
}

.appbar-options:hover .tab {
    transform: scaleX(1);
    opacity: 1;
}

.tab--active {
    transform: scaleX(1);
    opacity: 1;
}